:root {
    --main-color: #3924ad;
    --transparent-color: rgb(15 116 143 / 50%);
    --section-heading-color: #1f2021;
    --pale-font-color: #a8a8a8;
    --section-padding: 50px;
}
html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Work Sans', sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }   
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }   
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }   
}
.section-headings {
    text-align: center;
}
.section-headings h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--section-heading-color);
    margin-bottom: 40px;
    font-weight: normal;
    position: relative;
}
.section-headings h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -19px;
    width: 120px;
    height: 2px;
    background-color: var(--section-heading-color);
}
.section-headings h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -27px;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid var(--section-heading-color);
}
.section-headings p {
    font-size: 13px;
    color: #07090c;
    margin-top: 40px;
    margin-bottom: 70px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
header {
    color: white;
    position: absolute;
    left: 0;
    width: 100%;
}
header .container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    position: relative;
    border-bottom: 1px solid white;
}
header nav {
    display: flex;
    align-items: center;
    position: relative;
}
header i.fa-bars {
    display: block;
    margin-right: 30px;
}
@media (min-width: 992px) {
    header i.fa-bars {
        display: none;
    }
}
header ul {
    display: flex;
    margin-right: 100px;
}
@media (max-width: 991px) {
    header ul {
        display: none;
        position: absolute;
        top: 70px;
        left: -100px;
        background-color: rgb(0 0 0 / 80%);
        border-radius: 10px;
        text-align: center;
    }
    header nav:hover i.fa-bars {
        color: #96aedb;
    }
    header nav:hover ul {
        display: block;
    }
    header nav ul li {
        padding: 15px;
    }
    header nav ul a::after {
        display: none;
    }
}
header ul a {
    color: white;
    text-decoration: none;
    padding: 15px;
    position: relative;
    font-size: 15px;
}
header ul a:hover {
    color: #96aedb;
}
header ul a:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.25px;
    background-color: #96aedb;
    left: 0;
    bottom: -26.75px;
    z-index: 2;
}
header .src-icon {
    width: 40px;
    height: 30px;
    position: relative;
    border-left: 1px solid wheat;
}
header .src-icon i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--pale-font-color);
}
.landing {
    position: relative;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    z-index: -1;
}
.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.landing .txt-container {
    position: absolute;
    z-index: 1;
    background-color: var(--transparent-color);
    width: 50%;
    padding: 80px;
    display: flex;
    justify-content: flex-end;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 320px) {
    .landing .txt-container {
        padding: 40px;
    }
}
.landing .txt-container .box {
    width: 70%;
}
@media (max-width: 991px) {
    .landing .txt-container {
        width: 100%;
    }
    .landing .txt-container .box {
        width: 100%;
    }
}
.landing h1 {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}
.landing p {
    font-size: 13px;
    line-height: 1.8;
}
@media (max-width: 320px) {
    .landing h1 {
        font-size: 20px;
        font-weight: normal;
        text-transform: uppercase;
    }
    .landing p {
        font-size: 13px;
        line-height: 1;
    }
}
.landing i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 30px;
}
.landing i:first-of-type {
    left: 20px;
}
.landing i:last-of-type {
    right: 20px;
}
.landing ul {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    z-index: 1;
}
.landing ul li {
    border: 2px solid white;
    width: 18px;
    height: 18px;
    margin: 5px;
    border-radius: 50%;
}
.landing ul li.active {
    border: 2px solid #96aedb;
    background-color: #96aedb;
}
@media (max-width: 767px) {
    .landing i {
        display: none;
    }
}
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services .srv-box {
    display: flex;
    flex-basis: 40%;
    margin-bottom: 40px;
}

.services .srv-box i {
    margin-right: 60px;
    font-size: 35px;
    color: var(--section-heading-color);
}
.services .srv-box h3 {
    color: var(--main-color);
    margin-bottom: 25px;
    font-weight: normal;
}
.services .srv-box p {
    color: #07090c;
    line-height: 1.8;
    font-size: 13px;
}
@media (max-width: 991px) {
    .services .srv-box {
        flex-direction: column;
        flex-basis: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
    
    .services .srv-box i {
        margin: 0 auto 25px;
    }
    .services .srv-box h3 {
        margin-bottom: 15px;
    }
}
.design {
    background-image: url(../images/designimg.jpg);
    background-size: cover;
    display: flex;
    overflow: hidden;
    position: relative;
}
.design::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.design .design-img {
    position: relative;
    bottom: -100px;
    flex-basis: 50%;
    text-align: center;
    z-index: 1;
}
.design .txt-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    color: white;
    padding: 50px;
    width: 50%;
    left: 50%;
    z-index: 1;
}
.design .txt-box h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 25px;
}
.design .txt-box li {
    margin: 15px;
}
.design .txt-box li::before {
    content: '\e163';
    font-family: 'font awesome 5 free';
    margin-right: 30px;
    font-weight: 900;
}
@media (max-width: 991px) {
    .design .design-img {
        z-index: -1;
    }
    .design .txt-box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        left: 0;
    }
}
@media (max-width: 400px) {
    .design .txt-box li {
        font-size: 13px;
    }
    .design .txt-box li::before {
        margin-right: 15px;
    }
}
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li {
    color: var(--section-heading-color);
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 13px;
}
.portfolio .shuffle li:hover {
    cursor: pointer;
}
.portfolio .shuffle .active {
    color: white;
    background-color: var(--main-color);
}
.portfolio .port-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    overflow: hidden;
}
@media (max-width: 991px) {
    .portfolio .port-content {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
}
@media (max-width: 767px) {
    .portfolio .port-content {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}
.portfolio .port {
    position: relative;
    overflow: hidden;
}
.portfolio img {
    width: 100%;
    transition: 0.3s;
}
.portfolio .text {
    position: absolute;
    bottom: -70px;
    left: 0;
    padding: 15px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    z-index: 1;
}
.portfolio .port:hover .text {
    bottom: 0;
}
.portfolio .port:hover img {
    transform: rotate(4deg) scale(1.2);
}
.portfolio .text h3 {
    font-size: 20px;
    color: var(--section-heading-color);
    font-weight: normal;
}
.portfolio .text p {
    font-size: 13px;
    color: var(--main-color);
}
.portfolio a.more {
    display: block;
    background-color: var(--main-color);
    color: white;
    padding: 10px 40px;
    width: fit-content;
    margin: 40px auto 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid var(--main-color);
}
.portfolio a.more:hover {
    background-color: white;
    color: var(--main-color);
}
.vid-section {
    position: relative;
}
.vid-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
}
.vid-section video {
    width: 100%;
}
.vid-section .mini-cont {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    background-color: var(--transparent-color);
    padding: 50px;
    text-align: center;
    color: white;
    z-index: 1;
}
.vid-section .mini-cont h3 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
.vid-section .mini-cont p {
    margin: 50px auto;
}
.vid-section .mini-cont button {
    background-color: rgb(0 0 0 / 70%);
    text-transform: uppercase;
    color: white;
    padding: 5px 30px;
    border: none;
}
.vid-section .mini-cont button:hover {
    cursor: pointer;
}
@media (max-width: 450px) {
    .vid-section .mini-cont h3 {
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
    }
    .vid-section .mini-cont p {
        font-size: 13px;
        margin: 20px auto;
    }
}
@media (max-width: 400px) {
    .vid-section .mini-cont h3 {
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
    }
    .vid-section .mini-cont p {
        margin: 10px auto;
    }
}
.about {
    text-align: center;
    padding-top: var(--section-padding);
    overflow: hidden;
}
.about img {
    position: relative;
    margin-top: -120px;
    bottom: -120px;
    max-width: 100%;
}
@media (max-width: 767px) {
    .about img {
        margin-top: -60px;
        bottom: -60px;
    }
}
.stats {
    background-image: url(../images/statisticsbackground.jpg);
    background-size: cover;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.stats::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.stats .container {
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.stats .box {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--transparent-color);
}
@media (max-width: 991px) {
    .stats .box {
        flex-basis: 50%;
    }
}
@media (max-width: 767px) {
    .stats .box {
        flex-basis: 100%;
    }
    .stats .box:not(:last-child) {
        border-bottom: 1px solid white;
    }
}
.stats .box i {
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}
.stats .box p.num {
    font-size: 51px;
    font-weight: bold;
    margin: 25px auto;
}
.stats .box h2 {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 25px;
}
.testskills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.testskills .container {
    display: flex;
    flex-wrap: wrap;
}
.testskills .container div {
    flex-basis: 50%;
}
.testskills .tst-box {
    position: relative;
}
@media (max-width: 991px) {
    .testskills .container div {
        flex-basis: 100%;
    }
    .testskills .container .tst-box {
        margin-bottom: 60px;
    }
}
.testskills .head-sec {
    margin: 0 auto 40px;
    max-width: 475px;
    padding: 15px;
    text-align: center;
}
.testskills .head-sec h3 {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--section-heading-color);
    margin-bottom: 30px;
}
.testskills .head-sec p {
    font-size: 13px;
    font-weight: 300;
    line-height: 2;
    color: #07090c;
}
.testskills .mini-testi {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-around;
}
.testskills .mini-testi img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testskills .mini-testi .text-testi {
    max-width: 400px;
    padding: 10px;
    border-bottom: 1px solid var(--section-heading-color);
    position: relative;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .testskills .mini-testi {
        flex-direction: column;
        align-items: center;
    }
    .testskills .mini-testi img {
        margin-bottom: 30px;
    }
    .testskills .mini-testi .text-testi {
        max-width: 550px;
        padding-bottom: 25px;
    }
}
.testskills .mini-testi .text-testi p {
    font-size: 13px;
    color: var(--section-heading-color);
    font-weight: 300;
}
.testskills .mini-testi .text-testi span {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #07090c;
    font-weight: 300;
}
.testskills ul {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.testskills ul li {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px;
}
.testskills ul li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.testskills .skills-box h4 {
    color: var(--section-heading-color);
    font-size: 13px;
    font-weight: normal;
    color: var(--section-heading-color);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.testskills .skill-line {
    height: 30px;
    background-color: var(--pale-font-color);
    margin-bottom: 40px;
}
.testskills .skills-box span {
    display: block;
    height: 30px;
    background-color: var(--main-color);
    position: relative;
}
.testskills .skills-box span::before {
    content: attr(perdata);
    position: absolute;
    left: 100%;
    transform: translateX(-50%);
    top: -30px;
    padding: 4px;
    color: white;
    border-radius: 8px;
    background-color: #1f2021;
}
.testskills .skills-box span::after {
    content: "";
    position: absolute;
    left: 100%;
    transform: translateX(-50%);
    border: 5px solid;
    border-color: #1f2021 transparent transparent transparent;
    top: -5px;
}
.quote {
    background-image: url(../images/quote.jpg);
    background-size: cover;
    padding-top: calc(var(--section-padding) * 2);
    padding-bottom: calc(var(--section-padding) * 2);
    position: relative;
    color: white;
}
.quote::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.quote .container {
    position: relative;
    z-index: 1;
    text-align: center;
}
.quote q {
    font-size: 25px;
    font-weight: 600;
}
.quote p {
    font-size: 13px;
    font-weight: 13px;
    margin-top: 30px;
}
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.pricing .packs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pricing .package {
    width: 23%;
    margin: 50px auto;
}
@media (max-width: 991px) {
    .pricing .package {
        width: 47%;
    }
}
@media (max-width: 767px) {
    .pricing .package {
        width: 51%;
        margin: 0 auto 50px;
    }
}
.pricing .package .head {
    border-top: 1px solid var(--main-color);
    color: var(--section-heading-color);
}
.pricing .package h3 {
    font-weight: normal;
    margin: 20px auto 15px;
}
.pricing .package span {
    display: block;
    font-size: 59px;
    font-weight: 600;
    position: relative;
    margin: 0 auto 20px;
    width: fit-content;
}
.pricing .package span::before {
    content: "$";
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: -15px;
}
.pricing .package span::after {
    content: "/MO";
    font-size: 13px;
    position: absolute;
    bottom: 10px;
    right: -30px;
}
.pricing .package ul {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 30px;
}
.pricing .package ul li {
    padding: 15px;
    position: relative;
}
.pricing .package ul li:not(:last-of-type)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
}
.pricing .foot button {
    padding: 10px 30px;
    color: var(--section-heading-color);
    border: 1px solid var(--main-color);
    background-color: white;
}
.pricing .foot button:hover {
    outline: none;
    cursor: pointer;
}
.pricing p.pri {
    font-size: 20px;
    color: var(--section-heading-color);
    margin: 20px auto;
}
.pricing .container > button {
    color: white;
    background-color: var(--main-color);
    padding: 15px 35px;
    border: 2px solid var(--main-color);
    margin-top: 20px;
    font-weight: 600;
}
.pricing .container > button:hover {
    color: var(--main-color);
    background-color: white;
    outline: none;
}
.subscribe {
    background-image: url(../images/sub-background.jpg);
    background-size: cover;
    padding-top: calc(var(--section-padding) * 2);
    padding-bottom: calc(var(--section-padding) * 2);
    position: relative;
    color: white;
}
.subscribe::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.subscribe .container {
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
}
.subscribe form {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-right: 50px;
    position: relative;
}
.subscribe p {
    width: 500px;
    margin-left: auto;
    font-size: 15px;
}
@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }
    .subscribe form {
        max-width: 100%;
        margin-right: 0;
    }
    .subscribe p {
        margin-top: 60px;
        width: 100%;
    }
}
.subscribe i {
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
}
.subscribe input[type="email"] {
    width: calc(100% - 130px);
    background-color: transparent;
    border: 1px solid white;
    border-right: none;
    caret-color: var(--main-color);
    padding: 20px 20px 20px 70px;
    color: white;
}
.subscribe input[type="submit"] {
    width: 130px;
    border: 1px solid white;
    background-color: var(--main-color);
    color: white;
}
.subscribe input[type="email"]::placeholder {
    color: white;
}
.subscribe input[type="submit"]:focus,
.subscribe input[type="email"]:focus {
    outline: none;
}
.contact-us {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact-us .contact-content {
    display: flex;
    justify-content: center;
}
.contact-us form {
    flex-basis: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 50px;
}
@media (max-width: 767px) {
    .contact-us .contact-content {
        flex-direction: column;
    }
    .contact-us form {
        margin: 0 auto 50px;
        justify-content: center;
    }
}
.contact-us input,
.contact-us textarea {
    margin-bottom: 25px;
    padding: 20px;
    width: 100%;
}
.contact-us input:focus,
.contact-us textarea:focus {
    outline: none;
}
.contact-us textarea {
    height: 180px;
}
.contact-us input[type="submit"] {
    width: fit-content;
    background-color: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
}
.contact-us .info {
    flex-basis: 32%;
}
@media (max-width: 767px) {
    .contact-us .info {
        flex-basis: 32%;
        max-width: 200px;
        margin: 0 auto;
    }
}
.contact-us h3 {
    font-size: 13px;
    font-weight: normal;
    color: var(--section-heading-color);
    margin-bottom: 30px;
}
.contact-us h3:last-of-type {
    margin-top: 100px;
}
@media (max-width: 767px) {
    .contact-us h3:last-of-type {
        margin-top: 50px;
    }
}
.contact-us .phone,
.contact-us address {
    font-size: 13px;
    color: #07090c;
}
.footer {
    background-image: url(../images/last.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
    height: 320px;
}
.footer .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.footer img {
    margin: 60px auto 30px;
}
.footer h4 {
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto 15px;
}
.footer i {
    padding: 10px;
}
.footer p {
    margin: 20px;
}
.footer span {
    color: #96aedb;
    font-weight: 600;
}